{% extends "base.html.twig" %}

{% block page_content %}
    <div id="feed">

        <!-- FORM -->
        {% if is_granted('ROLE_USER') %}
        <!-- Génération de la balise <form>, possédant un id (HTML) "feedy-new" -->
        {{ form_start(form, {'attr': {'id' : 'feedy-new'}} ) }}
        <fieldset>
            <legend>Nouveau feedy</legend>
            <div>
                <!-- Le textarea généré, avec le placeholder "Qu'avez-vous en tête?" -->
                {{ form_widget(form.message, {'id': "message", 'attr' : {"placeholder": "Qu'avez-vous en tête?"}}) }}
            </div>
            <div>
                <!-- Le bouton de validation, possédant l'id "feedy-new-submit" et le label "Feeder!" -->
                {{ form_widget(form.publier, {'id': "feedy-new-submit", 'label' : "Feeder!"}) }}
            </div>
        </fieldset>
        <!-- Génération des balises restantes (token CSRF) -->
        {{ form_rest(form) }}
        <!-- Génération de la balise fermante </form> -->
        {{ form_end(form) }}
        
        {% else %}
        <h3>Vous devez etre connecté pour pourvoir créer un nouveau feed.</h3>
        {% endif %}

        <!-- PUBLICATIONS -->

        <!-- Pour chaque publication, afficher (avec une boucle) le code HTML ci-dessous !-->
        {% for publication in publications %}
            {{ include('publication/publication.html.twig', {'publication' : publication}) }}
        {% endfor %}
        <!-- Fin de la boucle -->
    </div>
    {% endblock %}
