<!DOCTYPE html>
<html lang="fr">
<head>
    <title>The Feed</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<header>
    <div id="titre" class="center">
        <a href="{{ path("feed") }}"><span>The Feed</span></a>
        <nav>
            <a href="{{ path("feed") }}">Accueil</a>
            <a href="{{ path("inscription") }}">Inscription</a>
        </nav>
    </div>
</header>

<!-- FLASH -->
<div id="flashes-container">
    <!-- Boucle, pour chaque message du type "success" -->
    {% for successMsg in app.flashes("success") %}
        <span class="flashes flashes-success">{{ successMsg }}</span>
        <!-- Fin boucle -->
    {% endfor %}
    <!-- Boucle, pour chaque message du type "error" -->
    {% for errorMsg in app.flashes("error") %}
        <span class="flashes flashes-error">{{ errorMsg }}</span>
    {% endfor %}
    <!-- Fin boucle -->
</div>

<main id="the-feed-main">
{% block page_content %}
    Contenu du bloc
{% endblock %}
</main>

</body>
</html>