<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}The Feed{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<header>
    <div id="titre" class="center">
        <a href="{{ path("feed") }}"><span>The Feed</span></a>
        <nav>
            <a href="{{ path("feed") }}">Accueil</a>
            {% if not is_granted('ROLE_USER') %}
                <a href="{{ path("inscription") }}">Inscription</a>
                <a href="{{ path("connexion") }}">Connexion</a>
            {% else %}
                <form method="post" action="{{ path("_logout_main") }}">
                    <button id="btn-deconnexion">Déconnexion</button>
                </form>
            {% endif %}
            <a href="{{ path("hello") }}">Démo</a>
        </nav>
    </div>
</header>

<!-- FLASH -->
<div id="flashes-container">
    <!-- Boucle, pour chaque message du type "success" -->
    {% for successMsg in app.flashes("success") %}
        <span class="flashes flashes-success">{{ successMsg }}</span>
        <!-- Fin boucle -->
    {% endfor %}
    <!-- Boucle, pour chaque message du type "error" -->
    {% for errorMsg in app.flashes("error") %}
        <span class="flashes flashes-error">{{ errorMsg }}</span>
    {% endfor %}
    <!-- Fin boucle -->
</div>

<main id="the-feed-main">
    {% block page_content %}
    {% endblock %}
</main>

</body>
</html>